<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cartoony.allinonevideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.cartoony.allinonevideo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.cartoony.allinonevideo.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cartoony.allinonevideo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityVideoDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityForgot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityPrivacy"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityAboutUs"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityComment"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.ActivityRecent"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.cartoony.allinonevideo.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cartoony.allinonevideo.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cartoony.serverlocal.NoPipServerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
        <activity
            android:name="com.cartoony.allinonevideo.NoPipEmdedeViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
        </activity>
        <activity
            android:name="com.cartoony.allinonevideo.EmdedeViewActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" >
        </activity>

        <activity
            android:name="com.cartoony.serverlocal.PipServerActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />

        <activity
            android:name="com.cartoony.youtube.YoutubePlay"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <!-- Daily Motion Play -->
        <activity
            android:name="com.cartoony.dailymotion.DailyMotionPlay"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.cartoony.dailymotion.DailyMotionPlayNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- vimeo play activity -->
        <activity
            android:name="com.cartoony.vimeo.Vimeo"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.cartoony.vimeo.VimeoNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF9733EE" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>